---
import NavLink from "@astroboy/components/Header.astro";
import BaseLayout from "../layouts/Layout.astro";
import Footer from "@astroboy/components/Footer.astro";
import BlogPost from "@astroboy/components/BlogPost.astro";
const allPosts = await Astro.glob("./posts/*.mdx");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout title={pageTitle}>
  <NavLink slot="header" />
  <Footer slot="footer" />
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts?.map((p, index) => (
        <BlogPost title={p.frontmatter?.title} id={index+1} />
      ))
    }
  </ul>
</BaseLayout>
