---
import Social from "./Social.astro";
const platform = "github";
const username = "withastro";
---

<footer>
  <p class="mb-2">Learn more about my projects on <a  href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="facebook" username="dartuchiwa" />
  <Social platform="sketchfab" username="dartuchiwa" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

