---
import Hamburger from './Hamburger.astro';
import Navigation from './NavLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <astro-menu>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </astro-menu>

  </nav>
</header>

<script>
    import "@astroboy/scripts/menu"
</script>